@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

:root {
  --color-midnight: #050912;
  --color-background: #0a1020;
}

body {
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

.bg-midnight {
  background-color: var(--color-midnight);
}
